.container{

    display: flex;
    gap: 25px;
    justify-content: center;
}

.button {
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to right top, #ddea48, #e8c200, #ef9600, #f16400, #eb1212);
  }

